page-about {

    p {
        text-align: center
    }

    ul {
        text-align: left
    }

    h2 {
        text-align: center
    }

    video {
        width: 90%;
        margin: 5%; 

        border: 5px solid lightgrey;
        border-radius: 10px;
        box-shadow: 5px lightgrey;
    }

    ion-slides {
        height: initial;
    }

    #logo {
        width: 55%;
        height: 55%;
    }

    #equations {
        width: 35%;
        height: 35%;
    }

    #first_slide {
        position: fixed;
        top: 25%;
    }

}