page-about {

    p {
        text-align: center
    }

    ul {
        text-align: left
    }

    h2 {
        text-align: center;
    }

    video {
        width: 90%;
        margin: 0%; 

        border: 5px solid lightgrey;
        border-radius: 10px;
        box-shadow: 5px lightgrey;
    }

    ion-slides {
        height: 100%;
    }

    #logo {
        width: 55%;
        height: 55%;
    }

    #equations {
        width: 35%;
        height: 35%;
    }
    
    .no-scroll {
        .scroll-content{
            overflow: hidden;
        }
      }

    .alg-imgs {
        width: 30%;
        margin: 10px;
    }

    #equals {
        width: 15%;
    }

    .container {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


    }

    #WA-logo {
        position: relative;
        width: 50%;
        bottom: 0;
        margin: auto;
    }

    #WA-code {
        width: 60%;
    }

}