page-contact {

    p {
        text-align: center
    }

    h2 {
        text-align: center
    }

    img {
        border-radius: 50%;
        width: 50%;
        margin: auto;
    }
    
    #logo {
        border-radius: 0%;
        width: 35%;
        height: 35%;
    }
}
