page-my-script-canvas {
    @import "../../../node_modules/myscript/dist/myscript.min";


    overflow: hidden;

    .editor {
        height: 100vh;
    } 

    #container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    button {
        width: 24%;
    }
}
