page-calc {

    

    .display {
        margin: 2%;
        width: 94%;
        height: 12%;

        background: whitesmoke;
        color: black;
        font-size: 2em sans-serif;
        border-radius: 5px;

    }


    input {
        margin: 2%;
        width: 20%;
        height: 12%;

        background: lightskyblue;
        color: white;
        border-radius: 20px;
        transition-duration: 0.1s;
        cursor: pointer;
        font: 2em sans-serif;

    }



    input:active {
        transform: translateY(3px);
    }

    input.equals {
        background: lightgrey;
        margin: 2%;
        width: 44%;
        height: 12%;

    }

}
